  @font-face {
      font-family: abril;
      src: url(./Image/Abril_Fatface/AbrilFatface-Regular.ttf);
  }
  
  html {
      margin: 0px;
      padding: 0px;
      overflow-x: hidden;
  }
  
  body {
      margin: 0%;
      padding: 0%;
  }
  
  .productwrap {
      display: inline-block;
  }
  
  .card {
      height: 315px;
      position: relative;
      margin-right: 20px;
      margin-top: 30px;
      margin-bottom: 10;
      display: inline-block;
  }
  
  .cardbody p {
      text-align: center;
      margin-left: 30px;
      align-content: center;
      font-size: 30px;
      font-weight: bolder;
  }
  
  .btn {
      color: #d3002b;
      border: 1px solid #d3002b;
      border-radius: 25px;
      display: inline-block;
      padding: 0px 15px;
      text-decoration: none;
      width: 150px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-family: "GothamRoundedMedium";
      font-size: 1.2rem;
      cursor: pointer;
      margin-top: 10px;
  }
  
  .card::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100%;
      height: 1px;
  }
  
  .card::before {
      height: 265px;
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      height: 380px;
  }
  
  .section {
      background: #cfd300;
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      float: left;
  }
  
  .flavour {
      width: 20%;
      position: relative;
      padding: 28px 0px 22px;
      font-size: 1.5rem;
      color: #fff;
      font-family: "abril";
      background-size: 10%;
      text-align: center;
      cursor: pointer;
  }
  
  .filterdetail {
      float: left;
      width: 100%;
      height: 100px;
      background: #fff;
  }
  
  .filterdetail .flavourdetail {
      width: 100px;
      height: 500px;
      float: left;
      text-align: center;
      padding-top: 35px;
      padding-left: 40px;
      position: sticky;
      margin-bottom: 10px;
      top: 0;
      list-style: none;
  }
  
  .filterSec {
      background: #040a41;
      position: relative;
      display: flex;
      align-items: center;
  }
  
  .filterSec .flavour {
      width: 20%;
      position: relative;
      padding: 28px 0px 22px;
      font-size: 2rem;
      color: #fff;
      font-family: "abril";
      background-size: 10%;
      text-align: center;
      cursor: pointer;
  }
  
  .occasion {
      width: 80%;
      position: absolute;
      top: 0px;
      right: 0;
  }
  
  .occasion ul {
      display: flex;
      list-style: none;
      align-items: center;
  }
  
  .occasion li {
      text-align: center;
      cursor: pointer;
      font-size: 30px;
      color: #fff;
      font-family: "GothamRoundedBook";
      width: 25%;
      padding: 0px;
      position: relative;
  }
  
  .occasion li span {
      position: relative;
      left: 27px;
      top: -8px;
  }
  
  .occasion li input {
      opacity: 0;
  }
  
  .occasion li label {
      cursor: pointer;
  }
  
  .occasion li::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
      height: 50px;
      background-color: #fcf9ed;
  }
  
  #slider p {
      background-image: url("../Image/chocolate/hbg.jpg");
      margin-top: 0px;
      padding-top: 0px;
      font-weight: 900;
      color: #fcf9ed;
      height: 500px;
  }
  
  #slider {
      margin-top: 0px;
      padding-top: 0px;
      z-index: -1;
      width: 100%;
      height: 500px;
      text-align: center;
      font-size: 4rem;
      color: rgb(36, 3, 58);
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-variant-ligatures: additional-ligatures;
  }
  
  #slider img {
      margin-bottom: 0px;
      padding-bottom: 0px;
      height: 500px;
      width: 100%;
      z-index: -1;
  }